/* General Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.instructions {
  font-size: 14px;
  color: grey;
  text-align: center;
  margin-bottom: 0px;
}

/* Player Count */
/* Existing styles */
.floating-player-count {
  position: sticky;
  top: 0;
  background: #0a0a0a;
  color: #f0f0f0;
  padding: 10px;
  z-index: 100;
  display: flex; /* Flex layout */
  justify-content: space-between; /* Align children horizontally */
}

.player-count-container {
  flex: 1; /* Take up the remaining space */
  display: flex; /* Flex layout for children */
  justify-content: center; /* Center the player count horizontally */
  align-items: center; /* Center the player count vertically */
}

.player-h {
  margin: 0 auto; /* Centering the text */
}


/* Mobile styles */
@media screen and (max-width: 767px) {
  .floating-player-count {
    position: fixed; /* Fixed position */
    bottom: 0; /* Position at bottom */
    top: auto; /* Override top position */
    width: 100%; /* Full width */
  }
}


/* Faction Selection Grid */
.faction {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.faction .card-img-top {
  max-width: 100%; /* responsive image */
  height: auto;
}
.faction .overlay,
.faction .selected-banner {
  transition: all 0.3s ease;
}
.faction .overlay {
  background: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
}

.faction.active .overlay {
  background: rgba(255, 255, 255, 0); /* remove the overlay when active */
}

.faction .selected-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  opacity: 0;
  display: flex; /* Use flex layout */
  align-items: center; /* Vertically center content */
}
.faction.active .selected-banner {
  opacity: 1;
}

/* Turn Order Section */

.time-stamp {
  font-size: 14px; /* Adjust as needed */
  text-align: center;
  color: #777; /* You can change the color if desired */
  font-weight: normal !important;
}

/* table attempt */
#turn-order-table {
  width: 100%;
  border-collapse: collapse;
  /* deal with the overflow especially on mobile devices 
  overflow-x: auto;
  overflow: hidden;*/
}

#turn-order-table th,
#turn-order-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  font-size: 1.7em;
}

#turn-order-table th {
  line-height: 1 !important;
}

#turn-order-table td img {
  width: 70px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}
.faction-name-column {
  max-width: 250px;
  white-space: nowrap;
  text-align: left !important;
}

/* Buttons */
.button-group-for-turn-order {
  display: flex;
  justify-content: space-between; /* To add some space between the buttons */
  margin-top: 10px;
}
.btn.randomize-turn-order,
.btn.return-to-selection,
.btn.show-all-turns {
  margin: 0; /* To override previous margin if needed */
  margin: 10px;
  display: block;
}

.hidden {
  display: none;
}

@keyframes glow {
  0% {
      opacity: 0.6;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.6;
  }
}

.glowing {
  animation: glow 1.5s infinite;
}

.mr-10px {
  margin-right: 10px;
}
