body {
  font-family: "Trebuchet MS", sans-serif; /* Trebuchet feels somewhat sci-fi-ish, adjust to taste */
}

.hidden {
  display: none;
}

.default-die {
  color: darkgrey;
}

.potential-hit {
  border: 2px solid #007BFF; /* Adjust as needed */
  border-radius: 4px; /* Optional */
}

.rolled-die {
  color: darkorange;
}

.successful-hit {
  color: rgb(216, 0, 0);
  /*border-color: darkred;*/ /* this is not as intuitive as setting to the "hits on" text */
  border-color: #007BFF;/* set to  same color as "hits on" element */
}
.hit-border {
  /*border-color: darkred;*/ /* this is not as intuitive as setting to the "hits on" text */
  border-color: #007BFF;/* set to  same color as "hits on" element */
}
/* Star Trek Aesthetics */
.card {
  height: 175px; /* Set a fixed height */
}
.card-body {
  padding: .5em;
}

.fa-stack {
  width: 1.2em;
  font-size: 40px;
  line-height: 1.2em;
  height: 1.2em;
}

.fa-inverse{
  color: #000;
  font-size: 32px;
  font-weight: bold;
}


#attackerResults .dice-result-count {
  font-size: 30px; /* Adjust the font size to your preference */
  text-align: center;
}


.big-num { /* numbers at the top for ship/weapons/shields */
  font-size: 36px;
  text-align: center;
}
/* New styles for buttons */
.card button {
  width: 40px;
  margin: 2px;
}

.col-sm-6:not(:last-child) {
  border-right: 1px solid #e0e0e0; /* Adding gentle line separating the attacker and defender */
}

/* Specific color and size styling for Ship/Weapon/Shield elements */
.ship-icon,
.ship-text {
  color: #007bff;
}

.weapon-icon,
.weapon-text {
  color: red;
}

.shield-icon,
.shield-text {
  color: green;
}

.cardheadertext {
  margin-left: 3px;
  font-size: 0.6em;
  color: #777;
  font-weight: bold;
}


.reroll-queue {
  font-size: 14px;
  margin-top: 10px;
}



.fa-inverse-reroll{
  color: white;
    font-size: 32px;
    font-weight: bold;
}
.reroll-queue-label {
  color: grey;
  margin-bottom: 5px;  /* Adjust for desired spacing */
}

.dice-clickable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1); /* Adds a light gray background */
  border-radius: 4px; /* Rounds the corners */
}
